/* Etiquetas global
    - Elimina márgenes y padding por defecto
    - Aplica box-sizing: border-box para que el ancho incluya padding/border
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Se define un color de fondo claro para una apariencia limpia */
body {
    background-color: #F5F7FA;
}
/* Se define el color de fondo del header */
header {
    background-color: white;
}
/* Estilos para la secciones del main
    - Se aplica padding vertical para separar las secciones
*/
main section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    scroll-margin-top: 20px;
}
/* Se define el color de fondo del footer */
footer {
    background-color: #34495E;
}
/* Estilos para los encabezados h1, h2 y h3 */
h1, h2, h3 {
    font-family: "Poppins", sans-serif;
}
/* Estilos para párrafos, botones y listas */
p, button, li {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}
/* Estilos específicos para h1 */
h1 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    text-align: center;
}
/* Estilos específicos para h2 */
h2 {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    text-align: center;
}
/* Estilos específicos para h3 */
h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
/* Estilos para el banner superior */
.top-banner {
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 6px 10px;
    font-size: 14px;
}
/* Estilos para la barra de navegación
    - Se hace sticky para que permanezca visible al hacer scroll
    - Se aplica un z-index alto para que esté por encima de otros elementos
    - Se centra el contenido y se limita el ancho máximo
*/
.navegacion {
    background-color: white;
    padding: 15px 25px;
    max-width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 1000;
}
/* Se eliminan los estilos por defecto de la lista de navegación */
.lista-navegacion {
    list-style: none;
    /* Agregando Flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/* Se estilizan los enlaces para que no tengan subrayado y tengan un color específico */
.lista-navegacion a {
    text-decoration: none;
    color: #34495E;
    font-weight: bold;
    font-size: 17px;
}
.nav-izq {
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-der {
    display: flex;
    align-items: center;
    gap: 30px;
}
/* Contenedor con espacio lateral automático y ancho máximo */
.espacio_lateral {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    text-align: center;
}
/* Estilo para imagen de logo */
.logo-img {
    width: 120px;
}
/* Estilo para imagen de home */
.home-img {
    width: 100%;
}
/* Seccion de catalogo */
/* Tarjeta con espacio lateral automático y ancho máximo para productos */
.producto-tarjeta {
    display: inline-block;
    background: linear-gradient(180deg, #34495E 0%, white 50%);
    border: 1px solid #E0E0E0;
    border-radius: 1rem;
    width: 15.7rem;
    margin: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Para que la badge absoluta se posicione dentro*/
    position: relative;
}
/* Imagen de tarjeta de producto */
.producto-img {
    width: 100%;
    border-radius: 1rem;
}
/* Corazon de tarjeta de producto
    - Posicionado en la esquina superior derecha
    - Posición absoluta relativa a la tarjeta del producto
    - cursor tipo pointer
*/
.corazon {
    position: absolute;
    top: 1px;
    right: 10px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}
/* Contenedor de precios dentro de la tarjeta de producto */
.precios {
    text-align: left;
    margin-left: 1rem;
    height: 50px;
}
/* Estilo de precios original 
    - Texto tachado para indicar precio anterior
    - Color gris claro
*/
.precios-original {
    display: block;
    text-decoration: line-through;
    font-family: "Inter", sans-serif;
    color: #95A5A6;
    margin-right: 1rem;
}
/* Estilo de precios con descuento 
    - Texto en negrita para resaltar el precio actual
    - Color oscuro para resaltar
*/
.precios-descuento {
    display: block;
    font-family: "Poppins", sans-serif;
    color: #2C3E50;
    font-weight: bold;
    margin-top: 2px;
}
/* Estilos para el botón de agregar al carrito dentro de la tarjeta de producto
    - Posicionado en la esquina inferior derecha
    - Botón circular y texto blanco
    - Cursor tipo pointer
*/
.btn-carrito {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
    color: #2C3E50;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s ease;
}
/* Efecto hover para el botón de agregar al carrito */
.btn-carrito:hover {
    background-color: #2C3E50;
    color: white;
}
/* Seccion de ideas */
/* Contenedor con espacio lateral automático y ancho máximo para ideas */
.espacio_lateral_idea{
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    text-align: center;
}
/* Tarjeta individual de idea */
.idea-tarjeta {
    display: block;
    background-color: white;
    border: 1px solid #E0E0E0;
    border-radius: 1rem;
    width: 100%;
    height: auto;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}
/* Imagen de tarjeta de idea */
.idea-img {
    display: inline-block;
    height: auto;
    width: 25%;
    border-radius: 1rem;
    vertical-align: top;
}
/* Texto de tarjeta de idea */
.idea_texto {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    margin-left: 2rem;
    text-align: left;;
}
/* Contenedor de texto dentro de la tarjeta de producto */
.texto-contenedor {
    display: inline-block;
    min-height: 70%;
    vertical-align: top;
    color: #555;
    line-height: 1.6;
}
/* Contenedor del autor dentro de la tarjeta de idea */
.autor-contenedor {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    min-height: 0%;
    margin-top: 1rem;
}
/* Texto del autor dentro de la tarjeta de idea */
.autor-texto {
    display: inline-block;
    margin-left: 1rem;
    vertical-align: bottom;
    color: #34495E;
}
/* Imagen del autor dentro de la tarjeta de idea 
    - Imagen circular 45x45px
    - Alineada al texto del autor
    - Se ajusta la imagen para cubrir el contenedor sin distorsión
    - Centrada en el contenedor
*/
.autor-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: bottom;
    object-fit: cover;
    object-position: center;
}
/* Estilos para el botón de agregar al carrito */
/* Badge de producto */
.producto-badge {
    position: absolute;
    background-color: rgb(255, 0, 0);
    font-family: "Poppins", sans-serif;
    top : 10px;
    left: 10px;
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
}
/*Boton flotante position fixed
    - Ubicado en la esquina inferior derecha
    - z-index alto para estar por encima de otros elementos
    - Sombra para dar efecto de profundidad
    - Transición suave para el efecto hover
    - Display flex para centrar el icono
*/
.boton-flotante {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 50%;
    background-color: #2C3E50;
    color: white;
    z-index: 1500;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: .2s ease;
}
/* Efecto hover para el boton flotante */
.boton-flotante:hover {
    background-color: white;
    color: #2C3E50;
}
/* Seccion pies de pagina */
/* Margen y padding para secciones de footer */
footer section {
    margin: 10px;
    padding: 10px;
}
/* Color blanco para textos en el footer */
footer h2, footer h3, footer p {
    color: white;
}
/* Estilos para la sección de newsletter 
    - Fondo de color azul verdoso
    - Uso de Flexbox para distribuir el contenido
    - Alineación space-between para separar texto y formulario
    - justify-content center para centrar verticalmente el contenido
*/
.newsletter {
    background-color: #65D8BC;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
/* Estilos para el texto de la newsletter 
    - Uso de Flexbox para organizar el texto en columna
    - Alineación a la izquierda
    - Justificación centrada verticalmente
*/
.txt-newsletter {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin: 10px;
    height: 136px;
}
/* Estilos para el formulario de suscripción 
    - Uso de Flexbox para organizar los elementos en columna
    - Alineación a la izquierda
    - Justificación centrada verticalmente
*/
.form-suscripcion {
    width: 100%;
    font-family: "Inter", sans-serif;
    height: 136px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
/* Estilos para los inputs dentro del formulario de suscripción */
.form-suscripcion input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 400px;
    max-width: 100%;
}
/* Estilos para el botón dentro del formulario de suscripción */
.form-suscripcion button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: .2s ease;
}
/* Efecto hover para el botón del formulario de suscripción */
.form-suscripcion button:hover {
    background-color: #2C3E50;
}
/* Estilos para las etiquetas dentro del formulario de suscripción */
.form-suscripcion label {
    color: white;
    margin-bottom: 10px;
}
/* Estilos para las listas dentro del footer 
    - Uso de Flexbox para organizar los elementos en fila
    - Espacio de 20px entre los elementos
*/
.listas-footer {
    list-style: none;
    display: flex;
    gap: 20px;
}
/* Estilos para los elementos de las listas y enlaces dentro del footer 
    - Uso de Flexbox para alinear iconos y texto
    - Justificación centrada verticalmente    
*/
.listas-footer li, a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin: 10px 0px;
}
/* Estilos para la lista de informacion dentro del footer */
.lista-informacion {
    list-style: none;
}
/* Estilos para los enlaces dentro de la lista de informacion 
    - Uso de Flexbox para alinear iconos y texto
    - Justificación centrada verticalmente    
*/
.lista-informacion a {
    margin-bottom: 10px 0px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin: 5px 0px;
}
/* Contenedor para las secciones de contactanos y metodos de pago 
    - Uso de Flexbox para organizar los elementos en fila
    - Espacio distribuido entre los elementos
    - Alineación centrada verticalmente
*/
.contactanos-pagos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
/* Seccion home */
/* Ajuste de padding para la sección de inicio */
#home_section {
    padding-top: 3rem;
}